<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>PhotoFun</title>

    
    <script src="static/js/form.js"></script> 

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css">


    <!-- Custom styles for this template-->
    
    <link href="static/css/mainstyle.css" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">PhotoFun</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav nav-pills ml-auto ">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">Return to choose a style</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </nav>

  <div id="section2" class="jumbotron">
    <div class="container">
      <h1>Step 2: Upload your photo</h1>
      <p class="lead">You can restyle you picture with Chinese historical art genre.</p>
      <form method="POST" enctype="multipart/form-data" action="{{url_for('nextstep', styleid=styleid)}}" id="form">
        <div class="form-group">
          <label for="exampleFormControlFile1">JPG,JPEG files are accepted</label>
          <input type="file" onchange="ValidateSingleInput(this);" name="file" class="form-control-file form-control-lg" id="exampleFormControlFile1">
        </div>
        <div>
          <h1>Step 3: Input your Email address </h1>
          <p class="lead"> We'll send you the picture to your email address.</p>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>     
          
          <input type="email" name="emailaddr" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <input type="submit" class="btn btn-primary" value="Submit" id="submit">

      </form>
    </div>
  </div>
  <!--
  <div id="section3" class="jumbotron">
    <div class="container">
      <h1>Step 3: Input your Email address </h1>
      <p class="lead"> We'll send you the picture to your email address.</p>
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
--> 





  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../../../assets/js/vendor/popper.min.js"></script>
    <script src="../../../../dist/js/bootstrap.min.js"></script> -->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="static/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="static/vendor/popper.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
  </body>
</html>