body {
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;

}
.navbar-brand{

  font-style: italic;
  font-size: 30px;
}

#header{
  margin-top: -20px;
  height: 100%;
  background-image: url("../img/huashantuce.jpg");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-color: #333;
  color: #fff;
  text-align: center;
  font-size: 250%
}

 #header h1{
  text-shadow: 0px 0px 0.5em #000;
   margin-top: 100px;
   font-size: 150%;
}
#header p{
  font-size: 90%;
}

#stepone, #section2, #section3{
  margin-top: -35px;
}
#section2{
  height: 100%;
  background-image: url("../img/baihe.jpg");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-color: #333;
  color: #000;
}
